// Place all the styles related to the dinosaurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: Verdana, sans-serif ;

}

p {
  font-size:30px;
}

h1 {
  color:red;
  font-size: 38px;
}

body {
  background-color: Grey;
}
